{
  "root": true,
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "import",
    "jest"
  ],
  "extends": [
    "standard-with-typescript",
    "plugin:import/errors",
    "plugin:import/typescript"
  ],
  "env": {
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.eslint.json"
    ]
  },
  "ignorePatterns": [
    "**/*.js",
    "**/*.d.ts"
  ],
  "rules": {
    "arrow-spacing": "warn",
    "block-spacing": "warn",
    "comma-dangle": "warn",
    "eol-last": "warn",
    "generator-star-spacing": "warn",
    "new-cap": "warn",
    "new-parens": "warn",
    "node/handle-callback-err": "warn",
    "no-extra-parens": "warn",
    "no-ex-assign": "warn",
    "no-multiple-empty-lines": "warn",
    "no-multi-spaces": "warn",
    "no-trailing-spaces": "warn",
    "no-unsafe-finally": "warn",
    "no-var": "error",
    "object-curly-spacing": "warn",
    "one-var": "warn",
    "padded-blocks": "warn",
    "spaced-comment": "warn",
    "space-before-blocks": "warn",
    "space-infix-ops": "warn",
    "@typescript-eslint/array-type": "warn",
    "@typescript-eslint/brace-style": "warn",
    "@typescript-eslint/comma-spacing": "warn",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/indent": "warn",
    "@typescript-eslint/keyword-spacing": "warn",
    "@typescript-eslint/lines-between-class-members": "warn",
    "@typescript-eslint/member-delimiter-style": "warn",
    "@typescript-eslint/no-invalid-void-type": "warn",
    "@typescript-eslint/no-throw-literal": "warn",
    "@typescript-eslint/no-unused-expressions": "warn",
    "@typescript-eslint/prefer-nullish-coalescing": "warn",
    "@typescript-eslint/quotes": "warn",
    "@typescript-eslint/semi": "warn",
    "@typescript-eslint/space-before-function-paren": "warn",
    "@typescript-eslint/strict-boolean-expressions": "warn"
  }
}
